//日期时间选择器时间输入框

  .el-input--small .el-input__inner{
    background-color: #f5f7fa;
    width: 14.4rem;
    border: 1px solid #DCDFE6;
    color: #606266;
  }





  .el-range-input {
    color: #fff !important;
  }