
.datetimes {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}


.demonstration {
  width: 8.2rem;
  color: #fff;
  line-height: 3.6rem;
  font-size: 1.4rem;
  text-align: right;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 1.5rem;
  margin-right: 1rem;
}
:deep(.el-input__inner) {
  width: 48rem;
}
.statues {
  width: 8.2rem;
  color: #fff;
  line-height: 3.6rem;
  font-size: 1.4rem;
  text-align: right;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: -1rem;
}
.app-search{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
   min-height: 100%;
}
.app-search,
.app-title {
  width:100%;
  margin: 0.2rem 0;
 
}
.is-table {
  margin-top: 1rem;
  flex: auto;
  scrollbar-arrow-color: #82c3ff !important;
  scrollbar-base-color: #08193d !important;
  scrollbar-face-color: #08193d !important;
  scrollbar-track-color: #193b82 !important;
  scrollbar-shadow-color: #08193d !important;
}
.pageIs{
  align-self: flex-end;
  bottom: 1rem;
}
.app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 
}
.app-title > i {
  width: .3rem;
  height: 1rem;
  display: inline-block;
  background: #4ae2ef;
  margin-right: .5rem;
}
.app-title > p {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  margin-left: 0.015rem;
}
.litTabs > a {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  color: #82c3ff;
  border-radius: .2rem;
  line-height: .1rem;
  border: .1rem solid #0a437c;
  margin-left: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.app-title > a:first-child {
  margin-left: 0;
}
.searchIndex{
  display: flex; flex-wrap: wrap; margin: 1.5rem 0rem;
 
}

.el-button--primary {
  color: #82c3ff;
  background-color: #409EFF;
  background: transparent;
  border: none;
  font-size: 1.4rem !important;
  
}
.btnExport{
  margin: -1.3rem;
    position: absolute;
}
.Exporta{
  width: 2.7rem;
  height: .1rem;
}

.btnExport .el-button,.btnExport .el-button:hover{
  background:none;
}
.el-message-box__btns .el-button.el-button--default.el-button--small.el-button--primary {
  width: 5.6rem;
  background-color:#409EFF; 
  color: white;
  height: 3rem;
}
.el-dialog .el-button--primary{
  border: .1rem solid;
}
.app-search .el-table__header th:nth-child(1), .app-search .el-table__header th:nth-child(2),.app-search .el-table__body td:nth-child(1), .app-search .el-table__body td:nth-child(2){
  border-right: 0.1rem #0a284c solid !important;
}

/*eldialog*/
:deep(.el-dialog) {
  height: 0rem;
  margin-top: 26rem;
  .el-dialog__header {
    background-color: #0d60ae;
    line-height: 2.4rem;
    height: 2.4rem;
    cursor: move;
    .el-dialog__title {
      color: #fff;
      position: absolute;
      top: 0.7rem;
    }
  }
  .el-dialog__body::before,
  .el-dialog__body::after {
    content: '';
    display: block;
  }
  .el-dialog__body::after {
    clear: both;
  }
  .el-dialog__body {
    background-color: #06255d;
    padding: 0;
  }
  .el-dialog__footer {
    background-color: #06255d;
    height: 6rem;
    margin-top: -2rem;
  }
}


