:deep(.el-checkbox__inner) {
  background-color: #0a2551 !important;
  border: 1px solid #0a6fdd;
  border-radius: 3px;
}
.el-table {
  width: 100% !important;
  overflow: auto;
  // height: 40rem;
}
:deep(.el-table-column) {
  vertical-align: top;
}
.miniClass {
  :deep(.el-table__header-wrapper) {
    height: 5rem;
    padding-top: 0;
  }
  :deep(.el-table__header th) {
    padding-top: 0rem;
    font-size: 1.2rem;
  }
  :deep(.el-table__body td) {
    font-size: 1.2rem;
    padding-top: 0rem;
  }
  :deep(.el-radio) {
    margin-right: 1rem;
    .el-radio__inner {
      background-color: transparent;
      border: 0.2rem solid #fff;
    }
    .el-radio__label {
      color: #fff;
    }
  }
}
:deep(.el-table thead) {
  height: 55px;
  text-align: center;
}
.el-table ::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  background-color: transparent;
}
// 滚动条样式
.el-table ::-webkit-scrollbar-thumb {
  background-color: #0a437c;
  background-clip: content-box;
  border-radius: 0.3rem;
}
.el-table :deep(.el-table__cell) {
  text-align: center;
}
.innerDia {
  :deep(.el-dialog) {
    .el-dialog__header {
      background-color: #0d60ae;
      line-height: 2.4rem;
      .el-dialog__title {
        color: #fff;
      }
    }
    .el-dialog__body {
      .delSpan {
        display: inline-block;
        margin-top: 6rem;
        margin-left: 2rem;
        font-size: large;
      }
      background-color: #06255d;
      padding: 0;
      height: 15rem;
      font-size: medium;
      color: #fff;
      .el-radio {
        margin-top: 6rem;
        margin-left: 2rem;
        .el-radio__label {
          font-size: medium;
          color: #fff;
        }
      }
    }
    .el-dialog__footer {
      background-color: #06255d;
      height: 6rem;
      margin-top: -2rem;
    }
  }
}
.innerProcess,.innerDetail {
  :deep(.el-dialog) {
    margin-top: 8vh !important;
    width: 123rem;
    // height: 0rem;
    background-color: #06255d;
    .el-dialog__header {
      background-color: #0d60ae;
      line-height: 2.4rem;
      cursor: move;
      .el-dialog__title {
        color: #fff;
      }
    }
    .el-dialog__body {
      background-color: #06255d;
      padding: 0;
      font-size: medium;
      color: #fff;
      .el-radio {
        margin-top: 6rem;
        margin-left: 2rem;
        .el-radio__label {
          font-size: medium;
          color: #fff;
        }
      }
    }
    .el-dialog__footer {
      background-color: #06255d;
      height: 6rem;
      margin-top: -2rem;
    }
  }
  :deep(.el-button.el-button--default) {
    margin-top: 1.2rem !important;
    margin-bottom: 1rem;
  }
}
.innerDetail{
  :deep(.el-button.el-button--default) {
    margin-top: -6.8rem !important;
  }
}